<div [dir]="dir" class="main-content">
  <!-- Sticky navbar -->
  <div class="sticky-top">
    <app-navbar *ngIf="showNavbar"></app-navbar>
  </div>

  <!-- Rest of your content -->
  <div class="content-below-navbar">
    <!-- <h1>{{language$|async }}</h1> -->
    <app-spinner></app-spinner>
    <router-outlet></router-outlet>
  </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true" #confirmModal>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title fw-bold">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-4">
        <p class="mb-0" id="modalMessage"></p>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger px-4" (click)="modal.confirm()">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- Toast Container -->
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1055">
  <div
    class="toast align-items-center text-bg-success border-0"
    role="alert"
    id="successToast"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="d-flex">
      <div class="toast-body">
        {{ toastMessage }}
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
    </div>
  </div>
</div>
