/* Global styles */
.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020; /* Bootstrap uses 1030 for its sticky navbar, so we use slightly lower */
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-below-navbar {
  flex: 1;
  padding-top: 20px; /* Add some space below the navbar */
}

/* If you're using Bootstrap, you can use their utility classes instead */

/* confirmation-modal.component.css */
.modal-content {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.modal-header {
  border-bottom: none;
  padding: 1.25rem 1.5rem;
}

.modal-body {
  padding: 1.5rem;
}

.modal-footer {
  border-top: none;
  padding: 1rem 1.5rem;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-secondary {
  border-color: #dee2e6;
}
.button-checkout{
  background-color:#f68b1e ;
  color: white;
}
.button-checkout:hover{
  background-color: white ;
  color: #f68b1e;
}
.text-total{
  color: #f68b1e;
}
