<div class="posts-container">
  @for(p of posts; track p.id) {
  <div class="card post-card">
    <div class="card-body">
      <!-- User Info Section -->
      <div class="user-info" *ngIf="getUserById(p.userId) as user">
        @if(user.image) {
         <img class="user-avatar" [src]="user.image" alt="User avatar">
        }@else {
          <img class="user-avatar" src="assets/default-avatar.png" alt="Post image">
      }
        @if(user.firstName && user.lastName) {
        <span class="user-name" >{{user.firstName}} {{user.lastName}}</span>
        } @else {
        <span class="user-name">{{user.username}}</span>
        }
      </div>

      <!-- Post Content -->
      <h5 class="post-title">{{p.title}}</h5>
      <p class="post-text">{{p.body}}</p>

      <!-- Post Image if exists -->

      @if(p.imageUrl) {
      <div class="post-image-container">
        <img class="post-image" [src]="p.imageUrl" alt="Post image">
      </div>
      }


      <!-- Reactions and Stats -->
      <div class="post-stats">
        <span class="stat-item"><i class="fa-regular fa-eye"></i> {{p.views}}</span>
        <span class="stat-item"><i class="fa-regular fa-thumbs-up"></i> {{p.reactions.likes}}</span>
        <span class="stat-item"><i class="fa-regular fa-thumbs-down"></i> {{p.reactions.dislikes}}</span>
      </div>
      <hr>
      <!-- Like/Dislike/View Buttons -->
      <div class="AllButtons">
        <div class="reaction-buttons">
          <div>
            @if(isLiked(p)) {
            <i class="fa-solid fa-thumbs-up reaction-btn liked" (click)="likePost(p)"></i> <span>
              {{getText("Like")}}</span>
            } @else {
            <i class="fa-regular fa-thumbs-up reaction-btn" (click)="likePost(p)"></i> <span> {{getText("Like")}}</span>
            }
          </div>

          <div>
            @if(isDisliked(p)) {
            <i class="fa-solid fa-thumbs-down reaction-btn disliked" (click)="dislikePost(p)"></i> <span>
              {{getText("Dislike")}}</span>
            } @else {
            <i class="fa-regular fa-thumbs-down reaction-btn" (click)="dislikePost(p)"></i> <span>
              {{getText("Dislike")}}</span>
            }
          </div>



        </div>
        <div>
          <button class="btn view-btn" (click)="viewPost(p.id)">{{getText("Viewpost")}}</button>
        </div>



      </div>
    </div>

  </div>
  }
</div>

<!-- Floating Action Button -->
<div class="fab-container" *ngIf="isLoggedIn()">
  <button class="fab-btn" *ngIf="!showAddPostComponent" (click)="toggleAddPost(true)">
    <i class="fas fa-plus"></i>
  </button>
</div>

<!-- Add Post Component -->
<app-add-post *ngIf="showAddPostComponent" (showAddPost)="toggleAddPost($event)"></app-add-post>
